* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #012677;
    --primary-hover: #04349c;
}

section {
    height: 100%;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
}

.titulo-page {
    color: black;
    font-size: 3em;
    margin: 30px;
    text-align: center;
}

.link-empresa {
    color: var(--primary-color);
    text-decoration: none;
}

.link-empresa:hover {
    color: var(--primary-hover);
}

.link-empresa:visited {
    color: blueviolet;
}