#sobre {
    padding: 100px 300px;
    text-align: justify;
    height: 100vh;
}

#titulo-page-sobre {
    color: black;
    font-size: 3em;
    margin-bottom: 5px;
}

#div-textos-sobre {
    color: black;
}

@media only screen and (max-width: 1165px) {
    #sobre {
        width: 100%;
        text-align: center;
        height: 100vh;
    }
}